
.btn-group
  button.btn.percent-correct.percent-correct-correct: i.fas.fa-plus
  button.btn.percent-correct.percent-correct-approximation: i.fas.fa-plus-circle
  button.btn.percent-correct.percent-correct-incorrect: i.fas.fa-minus
