
extends ../layout

block body
  .container-fluid.py-3
    .row.d-flex
      if targets.length === 0
        .col
          p
            = t('No targets exist for this client yet.')
      for target in targets
        .col-xs-12.col-sm-6.col-md-4.mb-3
          .card.h-100
            .card-header
              h6.card-subtitle.text-muted.small
                = t(target.program.name)
              h5.card-title
                = t(target.name)
              h6.card-subtitle.text-muted
                = t('Phase')
            .card-body.d-flex.justify-content-around.align-items-center
              case target.data_type
                when 'Frequency'
                  ul.list-group.list-unstyled.list-group-flush
                    li.list-group-item
                      .btn-group
                        .btn: i.fas.fa-plus
                        .mx-auto.my-auto.font-weight-bold#frequency 0
                        .btn: i.fas.fa-minus
                when 'Rate'
                  ul.list-group.list-unstyled.list-group-flush
                    li.list-group-item.mx-auto
                      = t('Correct')
                    li.list-group-item
                      .btn-group
                        .btn: i.fas.fa-plus
                        .mx-auto.my-auto.font-weight-bold#frequency 0
                        .btn: i.fas.fa-minus
                  ul.list-group.list-unstyled.list-group-flush
                    li.list-group-item.mx-auto
                      = t('Incorrect')
                    li.list-group-item
                      .btn-group
                        .btn: i.fas.fa-plus
                        .mx-auto.my-auto.font-weight-bold#frequency 0
                        .btn: i.fas.fa-minus
                when 'Duration'
                  ul.list-group.list-unstyled.list-group-flush
                    li.list-group-item
                      ul.list-group.list-group-horizontal
                        li#hours.list-group-item.flex-fill.border-top-0.border-left-0.border-bottom-0 0
                        li#minutes.list-group-item.flex-fill.border-top-0.border-bottom-0 0
                        li#seconds.list-group-item.flex-fill.border-top-0.border-bottom-0.border-right-0 0
                    li.list-group-item.mx-auto
                      .btn-group
                        .btn: i.fas.fa-play
                        .btn: i.fas.fa-stop
                default
                  = t(`${target.data_type} not implemented yet.`)
