
extends layout

block body
  .jumbotron.mb-0
    .container
      h1= `${t('About')} ${config.appName}`
      p= t("We strive to make a data collection application that is easy to use and understand, while providing powerful features to you the user.")
  .container.py-3
    .row
      .col
